{#
  This file is part of the WikiTagBundle package.
 
  (c) IRI <http://www.iri.centrepompidou.fr/>
 
  For the full copyright and license information, please view the LICENSE
  file that was distributed with this source code.
#}
<form method="GET" action="">
  <p>Chercher : 
    {% for k,v in search_def %}
	   <a href="?searched={{v}}">{{k}}</a>
    {% endfor %}
	<input type="text" name="searched" value="{% if searched %}{{searched}}{% endif %}" id="searched" />
  </p>
  <p>Tags {{ start_index }} à {{ end_index }} sur {{ nb_total }}</p>
  <div id="count_nav_top"><p>
    {% if searched and searched != "" %}
        <a href="?searched={{searched}}&num_page=1&nb_by_page={{nb_by_page}}&sort={{sort}}">&lt;&lt;</a>&nbsp;&nbsp;
        <a href="?searched={{searched}}&num_page={{prev_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&lt;</a>&nbsp;&nbsp;
        {{ num_page }}/{{ last_page }}&nbsp;&nbsp;
        <a href="?searched={{searched}}&num_page={{next_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&gt;</a>&nbsp;&nbsp;
        <a href="?searched={{searched}}&num_page={{last_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&gt;&gt;</a></p>
    {% else %}
        <a href="?num_page=1&nb_by_page={{nb_by_page}}&sort={{sort}}">&lt;&lt;</a>&nbsp;&nbsp;
        <a href="?num_page={{prev_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&lt;</a>&nbsp;&nbsp;
        {{ num_page }}/{{ last_page }}&nbsp;&nbsp;
        <a href="?num_page={{next_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&gt;</a>&nbsp;&nbsp;
        <a href="?num_page={{last_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&gt;&gt;</a></p>
    {% endif %}</p>
  </div>
</form>
<div id="wikitag_table_container">
{% include "WikiTagBundle:WikiTag:TagListTable.html.twig" %}
</div>
<div id="count_nav_bottom"><p>
    {% if searched and searched != "" %}
        <a href="?searched={{searched}}&num_page=1&nb_by_page={{nb_by_page}}&sort={{sort}}">&lt;&lt;</a>&nbsp;&nbsp;
        <a href="?searched={{searched}}&num_page={{prev_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&lt;</a>&nbsp;&nbsp;
        {{ num_page }}/{{ last_page }}&nbsp;&nbsp;
        <a href="?searched={{searched}}&num_page={{next_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&gt;</a>&nbsp;&nbsp;
        <a href="?searched={{searched}}&num_page={{last_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&gt;&gt;</a></p>
    {% else %}
        <a href="?num_page=1&nb_by_page={{nb_by_page}}&sort={{sort}}">&lt;&lt;</a>&nbsp;&nbsp;
        <a href="?num_page={{prev_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&lt;</a>&nbsp;&nbsp;
        {{ num_page }}/{{ last_page }}&nbsp;&nbsp;
        <a href="?num_page={{next_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&gt;</a>&nbsp;&nbsp;
        <a href="?num_page={{last_page}}&nb_by_page={{nb_by_page}}&sort={{sort}}">&gt;&gt;</a></p>
    {% endif %}</p>
</div>